<nav class="navbar navbar-expand-lg bg-body-tertiary bg-info-subtle p-5 mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/catalogue"><h3>ShopIT</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/catalogue"><h5>Home</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about"><h5>About</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/cart"><h5>Cart</h5></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
