

  <div class="card text-center">
    <div class="card-body bg-black text-white">
      <img src="assets/image/footer1.jpg" class="img-fluid" alt="Cover Image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
      <h5 class="card-title"><span style="color: rgb(55, 167, 55);">ShopIT</span> e-COMMERCE</h5>
      <div class="row p-5">
        <div class="col-md-3">
          <a style="text-decoration:none;" routerLink="/catalogue"><p class="card-text text-white" >HOME</p></a>
        </div>
        <div class="col-md-3">
          <a style="text-decoration:none;" routerLink="/about"><p class="card-text text-white" >ABOUT</p></a>
        </div>
        <div class="col-md-3">
          <a style="text-decoration:none;" routerLink="/catalogue"><p class="card-text text-white" >PRODUCTS</p></a>
        </div>
        <div class="col-md-3">
          <p class="card-text text-white">CONTACT US&nbsp;
            <a style="text-decoration: none; color: rgb(55, 167, 55);" href="https://www.instagram.com/"><i  class="bi bi-instagram"></i></a>&nbsp;
            <a style="text-decoration: none; color: rgb(55, 167, 55);" href="https://www.facebook.com/"><i class="bi bi-facebook"></i>&nbsp;</a>
            <a style="text-decoration: none; color: rgb(55, 167, 55);" href="https://twitter.com/i/flow/login"><i class="bi bi-twitter"></i></a>
          </p>
        </div>
      </div>
    </div>
    <div class="card-footer text-body-secondary" style="background-color: rgb(55, 167, 55);">
      <strong>@ShopIT	&#169;2024</strong>
    </div>
  </div>
  
