<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget libero nec est tincidunt fringilla. Aliquam erat volutpat. Nullam nec nisi vitae lacus dictum aliquet. Mauris pharetra lorem vel diam faucibus vestibulum. Vestibulum et quam in metus faucibus pretium.</p>
        <p>Etiam consequat purus non urna ultricies, nec fermentum odio iaculis. Proin nec risus eu urna lacinia fermentum. Nulla facilisi. Mauris et libero at odio gravida pellentesque.</p>
        <img src="https://media.wired.com/photos/5e18f061bf8e5500085795fe/master/pass/Biz-warehouse-1032866208.jpg" class="img-fluid rounded" alt="Placeholder Image">
        <p class="mt-4">Sed nec sapien a ipsum malesuada molestie. Nullam euismod vestibulum dolor, at feugiat purus molestie at. Quisque eu erat ac velit aliquam tempus. Vestibulum id enim sed enim tincidunt feugiat.</p>
        <p>Donec vel bibendum purus. In lacinia dolor sapien, nec eleifend turpis ultrices nec. Sed non nisi et orci euismod feugiat. Fusce non ullamcorper urna.</p>
      </div>
    </div>
  </div>
